
@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;
@using Factory.Models;
@using System.Collections.Generic;

<h2>Engineer Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>

@if (Model.JoinEntities.Count == 0)
{
  <p>This engineer doesn't match any machines.</p>
}
else
{
  <h4>This engineer works on the following machines:</h4>
    <ul>
    @foreach(EngineerMachine joinEntity in Model.JoinEntities)
    {
      <li>Name: @joinEntity.Machine.Name</li>
      @using (Html.BeginForm("DeleteJoin", "Engineers"))
      {
        @Html.Hidden("joinId", @joinEntity.EngineerMachineId)
        <input type="submit" value="Delete"/>
      }
    }
  </ul>
}


<p>@Html.ActionLink("Back to Engineers", "Index")</p>
<p>@Html.ActionLink("Edit Engineer", "Edit", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Delete Engineer", "Delete", new { id = Model.EngineerId })</p>
<p>@Html.ActionLink("Add new Machine", "AddMachine", new { id = Model.EngineerId })</p>